<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{792,522}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{792,522}}</string>
                <key>sourceSize</key>
                <string>{792,522}</string>
            </dict>
            <key>spin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,526},{779,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{779,155}}</string>
                <key>sourceSize</key>
                <string>{779,155}</string>
            </dict>
            <key>spin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,966},{173,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,199}}</string>
                <key>sourceSize</key>
                <string>{173,199}</string>
            </dict>
            <key>spin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1036},{139,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,139}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>spin_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,786},{102,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,107}}</string>
                <key>sourceSize</key>
                <string>{102,107}</string>
            </dict>
            <key>spin_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,683},{102,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,107}}</string>
                <key>sourceSize</key>
                <string>{102,107}</string>
            </dict>
            <key>spin_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,683},{101,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,107}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>spin_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,683},{101,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,107}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>spin_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,683},{101,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,108}}</string>
                <key>sourceSize</key>
                <string>{101,108}</string>
            </dict>
            <key>spin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1141},{101,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,108}}</string>
                <key>sourceSize</key>
                <string>{101,108}</string>
            </dict>
            <key>spin_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,543},{404,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,82}}</string>
                <key>sourceSize</key>
                <string>{404,82}</string>
            </dict>
            <key>spin_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,683},{294,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,302}}</string>
                <key>sourceSize</key>
                <string>{294,302}</string>
            </dict>
            <key>spin_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{862,539}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{862,539}}</string>
                <key>sourceSize</key>
                <string>{862,539}</string>
            </dict>
            <key>spin_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,2},{360,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,92}}</string>
                <key>sourceSize</key>
                <string>{360,92}</string>
            </dict>
            <key>spin_close_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1036},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>spin_gold_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,627},{245,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,303}}</string>
                <key>sourceSize</key>
                <string>{245,303}</string>
            </dict>
            <key>spin_gold_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,96},{271,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,358}}</string>
                <key>sourceSize</key>
                <string>{271,358}</string>
            </dict>
            <key>spin_gold_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,781},{129,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,85}}</string>
                <key>sourceSize</key>
                <string>{129,85}</string>
            </dict>
            <key>spin_gold_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,868},{151,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,117}}</string>
                <key>sourceSize</key>
                <string>{151,117}</string>
            </dict>
            <key>spin_gold_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1120},{193,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,145}}</string>
                <key>sourceSize</key>
                <string>{193,145}</string>
            </dict>
            <key>spin_gold_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{200,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,152}}</string>
                <key>sourceSize</key>
                <string>{200,152}</string>
            </dict>
            <key>spin_gold_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,874},{201,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,160}}</string>
                <key>sourceSize</key>
                <string>{201,160}</string>
            </dict>
            <key>spin_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,874},{182,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,85}}</string>
                <key>sourceSize</key>
                <string>{182,85}</string>
            </dict>
            <key>spin_name_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,369},{356,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,129}}</string>
                <key>sourceSize</key>
                <string>{356,129}</string>
            </dict>
            <key>spin_outline_wheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,543},{421,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,421}}</string>
                <key>sourceSize</key>
                <string>{421,421}</string>
            </dict>
            <key>spin_pointer.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,627},{152,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,131}}</string>
                <key>sourceSize</key>
                <string>{152,131}</string>
            </dict>
            <key>spin_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2008,500},{73,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,30}}</string>
                <key>sourceSize</key>
                <string>{73,30}</string>
            </dict>
            <key>spin_wheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,500},{346,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,346}}</string>
                <key>sourceSize</key>
                <string>{346,346}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spin.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6efebb769ebfcd6e9d66b09102209d78:1/1$</string>
            <key>textureFileName</key>
            <string>spin.png</string>
        </dict>
    </dict>
</plist>
