<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Channel/Bar_Choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,908},{272,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,89}}</string>
                <key>sourceSize</key>
                <string>{272,89}</string>
            </dict>
            <key>Channel/Board_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,606},{300,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,409}}</string>
                <key>sourceSize</key>
                <string>{300,409}</string>
            </dict>
            <key>Channel/Board_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,304},{300,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,409}}</string>
                <key>sourceSize</key>
                <string>{300,409}</string>
            </dict>
            <key>Channel/Board_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{300,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,409}}</string>
                <key>sourceSize</key>
                <string>{300,409}</string>
            </dict>
            <key>Channel/Board_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,2},{300,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,409}}</string>
                <key>sourceSize</key>
                <string>{300,409}</string>
            </dict>
            <key>Channel/Board_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,409}}</string>
                <key>sourceSize</key>
                <string>{300,409}</string>
            </dict>
            <key>Channel/Bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,615},{1136,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,86}}</string>
                <key>sourceSize</key>
                <string>{1136,86}</string>
            </dict>
            <key>Channel/Choose_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,949},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>Channel/Effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,506},{153,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,107}}</string>
                <key>sourceSize</key>
                <string>{153,107}</string>
            </dict>
            <key>Channel/Effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,383},{169,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,121}}</string>
                <key>sourceSize</key>
                <string>{169,121}</string>
            </dict>
            <key>Channel/Effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,130},{175,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,126}}</string>
                <key>sourceSize</key>
                <string>{175,126}</string>
            </dict>
            <key>Channel/Effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{175,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,126}}</string>
                <key>sourceSize</key>
                <string>{175,126}</string>
            </dict>
            <key>Channel/Friendmode_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,764},{141,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,120}}</string>
                <key>sourceSize</key>
                <string>{141,120}</string>
            </dict>
            <key>Channel/GameModeV2.Item_Card.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,506},{40,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,45}}</string>
                <key>sourceSize</key>
                <string>{40,45}</string>
            </dict>
            <key>Channel/Icon_Text.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,893},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>Channel/Item.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1020},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Channel/Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,2},{2,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,83}}</string>
                <key>sourceSize</key>
                <string>{2,83}</string>
            </dict>
            <key>Channel/Raceto1_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,258},{170,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,123}}</string>
                <key>sourceSize</key>
                <string>{170,123}</string>
            </dict>
            <key>Channel/Raceto2_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,764},{66,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,127}}</string>
                <key>sourceSize</key>
                <string>{66,127}</string>
            </dict>
            <key>Channel/Raceto3_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,886},{113,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,133}}</string>
                <key>sourceSize</key>
                <string>{113,133}</string>
            </dict>
            <key>Channel/Reward_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,908},{281,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,110}}</string>
                <key>sourceSize</key>
                <string>{281,110}</string>
            </dict>
            <key>Channel/Reward_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,830},{281,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,110}}</string>
                <key>sourceSize</key>
                <string>{281,110}</string>
            </dict>
            <key>Channel/Reward_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,718},{281,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,110}}</string>
                <key>sourceSize</key>
                <string>{281,110}</string>
            </dict>
            <key>Channel/Reward_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,606},{281,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,110}}</string>
                <key>sourceSize</key>
                <string>{281,110}</string>
            </dict>
            <key>Channel/Reward_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1753},{281,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,110}}</string>
                <key>sourceSize</key>
                <string>{281,110}</string>
            </dict>
            <key>Channel/Streak2_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,615},{213,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,147}}</string>
                <key>sourceSize</key>
                <string>{213,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Channel.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b582b00b536cbc56d2a0acea4520b60:1/1$</string>
            <key>textureFileName</key>
            <string>Channel.png</string>
        </dict>
    </dict>
</plist>
