<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Noti_Box_NoLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{370,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,286}}</string>
                <key>sourceSize</key>
                <string>{370,286}</string>
            </dict>
            <key>Notification_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{417,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,73}}</string>
                <key>sourceSize</key>
                <string>{417,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CommonPopups.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e2633b6fc0f260980a5488e77d4688b:1/1$</string>
            <key>textureFileName</key>
            <string>CommonPopups.png</string>
        </dict>
    </dict>
</plist>
