<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01_Bronze.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,198},{193,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,161}}</string>
                <key>sourceSize</key>
                <string>{193,161}</string>
            </dict>
            <key>02_Silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,333},{193,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,159}}</string>
                <key>sourceSize</key>
                <string>{193,159}</string>
            </dict>
            <key>03_Gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,170},{194,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,161}}</string>
                <key>sourceSize</key>
                <string>{194,161}</string>
            </dict>
            <key>04_Diamond1.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,2},{194,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,166}}</string>
                <key>sourceSize</key>
                <string>{194,166}</string>
            </dict>
            <key>04_Diamond2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{194,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,166}}</string>
                <key>sourceSize</key>
                <string>{194,166}</string>
            </dict>
            <key>05_Sharp.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,393},{190,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,126}}</string>
                <key>sourceSize</key>
                <string>{190,126}</string>
            </dict>
            <key>06_Icon Breaker.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,198},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>06_Icon Jumper.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,220},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>06_Icon Masses.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,238},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>06_Icon Mixer.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,421},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>06_Icon Mixer2.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,393},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>Cue box Shop_Demo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cue_box.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f16b8f069bdb42b35d5459dd24bac15:1/1$</string>
            <key>textureFileName</key>
            <string>cue_box.png</string>
        </dict>
    </dict>
</plist>
