<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,570},{115,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,129}}</string>
                <key>sourceSize</key>
                <string>{115,129}</string>
            </dict>
            <key>0_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,701},{100,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,114}}</string>
                <key>sourceSize</key>
                <string>{100,114}</string>
            </dict>
            <key>1_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,678},{80,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,128}}</string>
                <key>sourceSize</key>
                <string>{80,128}</string>
            </dict>
            <key>1_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,760},{65,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,112}}</string>
                <key>sourceSize</key>
                <string>{65,112}</string>
            </dict>
            <key>2_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,570},{111,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,128}}</string>
                <key>sourceSize</key>
                <string>{111,128}</string>
            </dict>
            <key>2_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,760},{96,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,113}}</string>
                <key>sourceSize</key>
                <string>{96,113}</string>
            </dict>
            <key>3_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,570},{106,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,129}}</string>
                <key>sourceSize</key>
                <string>{106,129}</string>
            </dict>
            <key>3_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,760},{92,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,114}}</string>
                <key>sourceSize</key>
                <string>{92,114}</string>
            </dict>
            <key>Announce_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,595},{516,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,109}}</string>
                <key>sourceSize</key>
                <string>{516,109}</string>
            </dict>
            <key>Avatar_Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,717},{114,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,115}}</string>
                <key>sourceSize</key>
                <string>{114,115}</string>
            </dict>
            <key>Avatar_Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,717},{114,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,115}}</string>
                <key>sourceSize</key>
                <string>{114,115}</string>
            </dict>
            <key>Blue_Side.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,1},{567,564}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{567,564}}</string>
                <key>sourceSize</key>
                <string>{567,564}</string>
            </dict>
            <key>Blue_Win.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,706},{146,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,145}}</string>
                <key>sourceSize</key>
                <string>{146,145}</string>
            </dict>
            <key>Crown.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,646},{53,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,43}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>EndGame_Check.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,570},{45,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,37}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>EndGame_CheckBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,595},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>EndGame_EndGame_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,609},{39,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,37}}</string>
                <key>sourceSize</key>
                <string>{39,37}</string>
            </dict>
            <key>Gold_Bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,807},{331,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,37}}</string>
                <key>sourceSize</key>
                <string>{331,37}</string>
            </dict>
            <key>NameBar_Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,758},{328,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,47}}</string>
                <key>sourceSize</key>
                <string>{328,47}</string>
            </dict>
            <key>NameBar_Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,706},{344,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,50}}</string>
                <key>sourceSize</key>
                <string>{344,50}</string>
            </dict>
            <key>Red_Side.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{568,592}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,592}}</string>
                <key>sourceSize</key>
                <string>{568,592}</string>
            </dict>
            <key>Red_Win.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,570},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,145}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Endgame.png</string>
            <key>size</key>
            <string>{1136,873}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4aac2c2616dc0a6450bf2bfec2b115e:a66fc7324e8d7cfc73e35d552902f7a9:57effaf4625e9792cfc01350e211bee9$</string>
            <key>textureFileName</key>
            <string>Endgame.png</string>
        </dict>
    </dict>
</plist>
