<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01_AV_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,71},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>01_BG_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,995},{792,522}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{792,522}}</string>
                <key>sourceSize</key>
                <string>{792,522}</string>
            </dict>
            <key>01_BG_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{760,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{760,390}}</string>
                <key>sourceSize</key>
                <string>{760,390}</string>
            </dict>
            <key>01_BG_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{755,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{755,117}}</string>
                <key>sourceSize</key>
                <string>{755,117}</string>
            </dict>
            <key>01_BG_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,2},{348,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,32}}</string>
                <key>sourceSize</key>
                <string>{348,32}</string>
            </dict>
            <key>01_BT_00X.png</key>
            <dict>
                <key>frame</key>
                <string>{{1523,2},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>01_BT_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,12},{181,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,51}}</string>
                <key>sourceSize</key>
                <string>{181,51}</string>
            </dict>
            <key>01_BT_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,2},{181,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,51}}</string>
                <key>sourceSize</key>
                <string>{181,51}</string>
            </dict>
            <key>01_BT_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,12},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>01_IC_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,25},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>01_IC_01a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1487,2},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>01_IC_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,2},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>01_IC_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,2},{48,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,30}</string>
            </dict>
            <key>01_TI_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,71},{404,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,82}}</string>
                <key>sourceSize</key>
                <string>{404,82}</string>
            </dict>
            <key>02_BG_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{259,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,8}}</string>
                <key>sourceSize</key>
                <string>{259,8}</string>
            </dict>
            <key>02_BG_Se_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,22},{741,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{741,47}}</string>
                <key>sourceSize</key>
                <string>{741,47}</string>
            </dict>
            <key>02_BG_Se_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,2},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>02_BT_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,36},{158,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,57}}</string>
                <key>sourceSize</key>
                <string>{158,57}</string>
            </dict>
            <key>02_BT_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,36},{158,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,56}}</string>
                <key>sourceSize</key>
                <string>{158,58}</string>
            </dict>
            <key>03_BT_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,71},{202,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,74}}</string>
                <key>sourceSize</key>
                <string>{202,74}</string>
            </dict>
            <key>04_BG_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,106},{646,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{646,108}}</string>
                <key>sourceSize</key>
                <string>{646,108}</string>
            </dict>
            <key>04_BG_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,55},{632,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,49}}</string>
                <key>sourceSize</key>
                <string>{632,49}</string>
            </dict>
            <key>04_BT_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,2},{123,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,45}}</string>
                <key>sourceSize</key>
                <string>{123,45}</string>
            </dict>
            <key>04_BT_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,2},{128,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,45}}</string>
                <key>sourceSize</key>
                <string>{128,45}</string>
            </dict>
            <key>05_BG_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,106},{198,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,247}}</string>
                <key>sourceSize</key>
                <string>{198,247}</string>
            </dict>
            <key>05_BG_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,106},{198,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,247}}</string>
                <key>sourceSize</key>
                <string>{198,247}</string>
            </dict>
            <key>05_BG_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,216},{383,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,252}}</string>
                <key>sourceSize</key>
                <string>{383,252}</string>
            </dict>
            <key>05_BG_FX_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,560},{780,433}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{780,433}}</string>
                <key>sourceSize</key>
                <string>{780,433}</string>
            </dict>
            <key>05_BG_FX_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,260},{301,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,298}}</string>
                <key>sourceSize</key>
                <string>{301,298}</string>
            </dict>
            <key>05_BG_LO_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,2},{384,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,18}}</string>
                <key>sourceSize</key>
                <string>{384,18}</string>
            </dict>
            <key>05_BG_LO_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{378,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{378,12}}</string>
                <key>sourceSize</key>
                <string>{384,18}</string>
            </dict>
            <key>05_BT_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>05_IC_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,106},{152,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,155}}</string>
                <key>sourceSize</key>
                <string>{152,155}</string>
            </dict>
            <key>05_Z_Animation Open Gift_Demo.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,995},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Friend.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7368882b35d72c0bd56e9cad7ab3d055:1/1$</string>
            <key>textureFileName</key>
            <string>Friend.png</string>
        </dict>
    </dict>
</plist>
