<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Gacha_Arrow_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,214},{56,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,83}}</string>
                <key>sourceSize</key>
                <string>{56,83}</string>
            </dict>
            <key>Gacha_Blue_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,375},{634,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{634,150}}</string>
                <key>sourceSize</key>
                <string>{634,150}</string>
            </dict>
            <key>Gacha_Box_Open.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,366},{331,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,327}}</string>
                <key>sourceSize</key>
                <string>{331,327}</string>
            </dict>
            <key>Gacha_Choose_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{718,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{718,210}}</string>
                <key>sourceSize</key>
                <string>{718,210}</string>
            </dict>
            <key>Gacha_Name_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{243,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,61}}</string>
                <key>sourceSize</key>
                <string>{243,61}</string>
            </dict>
            <key>Gacha_Purple_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{634,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{634,150}}</string>
                <key>sourceSize</key>
                <string>{634,150}</string>
            </dict>
            <key>Gacha_Red_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{634,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{634,150}}</string>
                <key>sourceSize</key>
                <string>{634,150}</string>
            </dict>
            <key>Gacha_Table_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,65},{308,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,176}}</string>
                <key>sourceSize</key>
                <string>{308,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Gacha.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a51d88a629b38cafdd155072a4443ee2:1/1$</string>
            <key>textureFileName</key>
            <string>Gacha.png</string>
        </dict>
    </dict>
</plist>
