<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ptb_Bar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,56},{242,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,11}}</string>
                <key>sourceSize</key>
                <string>{242,11}</string>
            </dict>
            <key>ptb_Bar_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,56},{248,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,17}}</string>
                <key>sourceSize</key>
                <string>{248,17}</string>
            </dict>
            <key>ptb_Bar_Point.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,22}}</string>
                <key>sourceSize</key>
                <string>{124,22}</string>
            </dict>
            <key>ptb_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{845,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{845,57}}</string>
                <key>sourceSize</key>
                <string>{845,57}</string>
            </dict>
            <key>ptb_Star_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,26},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>ptb_Star_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,26},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>IngamePTB.png</string>
            <key>size</key>
            <string>{128,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c87b3e1f6357ba67fe7520ca769fec2:1/1$</string>
            <key>textureFileName</key>
            <string>IngamePTB.png</string>
        </dict>
    </dict>
</plist>
