<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>IngameEBP_Arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,835},{17,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,32}}</string>
                <key>sourceSize</key>
                <string>{17,32}</string>
            </dict>
            <key>IngameEBP_Avatar_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,1062},{312,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,93}}</string>
                <key>sourceSize</key>
                <string>{312,93}</string>
            </dict>
            <key>IngameEBP_Avatar_Box_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1450},{96,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,94}}</string>
                <key>sourceSize</key>
                <string>{96,94}</string>
            </dict>
            <key>IngameEBP_Avatar_Box_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1270},{96,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,94}}</string>
                <key>sourceSize</key>
                <string>{96,94}</string>
            </dict>
            <key>IngameEBP_Avatar_Box_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1406},{217,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,42}}</string>
                <key>sourceSize</key>
                <string>{217,42}</string>
            </dict>
            <key>IngameEBP_Avatar_Mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,1531},{79,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,80}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>IngameEBP_Avatar_Timer.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,1445},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>IngameEBP_Avatar_Timer_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,1445},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>IngameEBP_Ball_Disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1546},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>IngameEBP_Ball_Indicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1322},{227,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,226}}</string>
                <key>sourceSize</key>
                <string>{227,226}</string>
            </dict>
            <key>IngameEBP_Change_Cue_Active.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1139},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>IngameEBP_Change_Cue_Inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1195},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>IngameEBP_Cue_Angle_Cue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1603},{224,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,18}}</string>
                <key>sourceSize</key>
                <string>{224,18}</string>
            </dict>
            <key>IngameEBP_Cue_Angle_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1301},{224,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,103}}</string>
                <key>sourceSize</key>
                <string>{224,103}</string>
            </dict>
            <key>IngameEBP_Cue_Ball_Arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,977},{83,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,59}}</string>
                <key>sourceSize</key>
                <string>{83,59}</string>
            </dict>
            <key>IngameEBP_Cue_Ball_Circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,1157},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>IngameEBP_Cue_Ball_Placer.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,835},{225,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,225}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>IngameEBP_Cup_Active.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,1103},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>IngameEBP_Cup_Inactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1546},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>IngameEBP_Duo_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1450},{95,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,102}}</string>
                <key>sourceSize</key>
                <string>{95,102}</string>
            </dict>
            <key>IngameEBP_Eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,1301},{99,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,58}}</string>
                <key>sourceSize</key>
                <string>{99,58}</string>
            </dict>
            <key>IngameEBP_FOUL_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,329},{935,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{935,251}}</string>
                <key>sourceSize</key>
                <string>{935,251}</string>
            </dict>
            <key>IngameEBP_FOUL_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1157},{275,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,142}}</string>
                <key>sourceSize</key>
                <string>{275,142}</string>
            </dict>
            <key>IngameEBP_Icon_2D.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1127},{32,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>IngameEBP_Icon_3D.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1548},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,23}</string>
            </dict>
            <key>IngameEBP_Icon_Chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1234},{37,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,33}}</string>
                <key>sourceSize</key>
                <string>{37,33}</string>
            </dict>
            <key>IngameEBP_Icon_Menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,1062},{39,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,31}}</string>
                <key>sourceSize</key>
                <string>{39,31}</string>
            </dict>
            <key>IngameEBP_OPPO_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,582},{935,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{935,251}}</string>
                <key>sourceSize</key>
                <string>{935,251}</string>
            </dict>
            <key>IngameEBP_OPPO_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,835},{689,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{689,140}}</string>
                <key>sourceSize</key>
                <string>{689,140}</string>
            </dict>
            <key>IngameEBP_Power_Bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1225},{95,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,508}}</string>
                <key>sourceSize</key>
                <string>{95,508}</string>
            </dict>
            <key>IngameEBP_Power_Bar_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1127},{96,509}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,509}}</string>
                <key>sourceSize</key>
                <string>{96,509}</string>
            </dict>
            <key>IngameEBP_Power_Cue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1590},{11,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,307}}</string>
                <key>sourceSize</key>
                <string>{11,307}</string>
            </dict>
            <key>IngameEBP_Power_Full.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1550},{34,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,364}}</string>
                <key>sourceSize</key>
                <string>{34,364}</string>
            </dict>
            <key>IngameEBP_Power_Zero.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1586},{34,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,364}}</string>
                <key>sourceSize</key>
                <string>{34,364}</string>
            </dict>
            <key>IngameEBP_Red_Dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1548},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>IngameEBP_Ruler_Bars.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,977},{72,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,19}}</string>
                <key>sourceSize</key>
                <string>{72,19}</string>
            </dict>
            <key>IngameEBP_Ruler_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,1531},{82,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,76}}</string>
                <key>sourceSize</key>
                <string>{82,76}</string>
            </dict>
            <key>IngameEBP_Ruler_Indicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,977},{30,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,83}}</string>
                <key>sourceSize</key>
                <string>{30,83}</string>
            </dict>
            <key>IngameEBP_Single_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1366},{96,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,77}}</string>
                <key>sourceSize</key>
                <string>{96,77}</string>
            </dict>
            <key>IngameEBP_Single_Button_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1450},{96,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,77}}</string>
                <key>sourceSize</key>
                <string>{96,77}</string>
            </dict>
            <key>IngameEBP_Square_Button_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1322},{266,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,266}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>IngameEBP_Timer_Bot_Bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,1},{1136,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,8}}</string>
                <key>sourceSize</key>
                <string>{1136,8}</string>
            </dict>
            <key>IngameEBP_Timer_Bot_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1},{1136,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,8}}</string>
                <key>sourceSize</key>
                <string>{1136,8}</string>
            </dict>
            <key>IngameEBP_URTURN_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{935,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{935,326}}</string>
                <key>sourceSize</key>
                <string>{935,326}</string>
            </dict>
            <key>IngameEBP_URTURN_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,977},{568,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,148}}</string>
                <key>sourceSize</key>
                <string>{568,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>IngameEBP.png</string>
            <key>size</key>
            <string>{957,1622}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cd000455bf10749c972ebdd491af056:fb6e70893b4da5f0ad52c80cc5f83ac1:bf9f841bde39d48bf5c390ffc54d8b0a$</string>
            <key>textureFileName</key>
            <string>IngameEBP.png</string>
        </dict>
    </dict>
</plist>
