<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1018,552}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1018,552}}</string>
                <key>sourceSize</key>
                <string>{1018,552}</string>
            </dict>
            <key>Board_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,800},{184,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,274}}</string>
                <key>sourceSize</key>
                <string>{184,274}</string>
            </dict>
            <key>Board_B.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,556},{186,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,274}}</string>
                <key>sourceSize</key>
                <string>{186,274}</string>
            </dict>
            <key>Board_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,815},{184,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,274}}</string>
                <key>sourceSize</key>
                <string>{184,274}</string>
            </dict>
            <key>Board_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,629},{184,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,274}}</string>
                <key>sourceSize</key>
                <string>{184,274}</string>
            </dict>
            <key>Board_SS.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,744},{184,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,274}}</string>
                <key>sourceSize</key>
                <string>{184,274}</string>
            </dict>
            <key>Board_SSS.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,614},{184,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,274}}</string>
                <key>sourceSize</key>
                <string>{184,274}</string>
            </dict>
            <key>Card_Icon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,1008},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{52,64}</string>
            </dict>
            <key>Card_Icon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,744},{64,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,73}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>Filter_Tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,556},{302,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,56}}</string>
                <key>sourceSize</key>
                <string>{302,56}</string>
            </dict>
            <key>Inven_Icon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,810},{69,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,59}}</string>
                <key>sourceSize</key>
                <string>{69,59}</string>
            </dict>
            <key>Inven_Icon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,871},{79,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,67}}</string>
                <key>sourceSize</key>
                <string>{79,67}</string>
            </dict>
            <key>Level_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,986},{83,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,85}}</string>
                <key>sourceSize</key>
                <string>{83,85}</string>
            </dict>
            <key>Level_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,986},{83,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>Level_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,629},{111,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,85}}</string>
                <key>sourceSize</key>
                <string>{111,85}</string>
            </dict>
            <key>Level_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,930},{140,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,90}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>Rank_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1125},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>Rank_B.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1075},{47,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,58}}</string>
                <key>sourceSize</key>
                <string>{47,58}</string>
            </dict>
            <key>Rank_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,556},{44,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,58}}</string>
                <key>sourceSize</key>
                <string>{44,58}</string>
            </dict>
            <key>Rank_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,616},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
            <key>Rank_SS.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,952},{74,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,54}}</string>
                <key>sourceSize</key>
                <string>{74,54}</string>
            </dict>
            <key>Rank_SSS.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,1022},{89,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,54}}</string>
                <key>sourceSize</key>
                <string>{89,54}</string>
            </dict>
            <key>Stuff_Icon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1022},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>Stuff_Icon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,1062},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>Tab_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,930},{101,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,142}}</string>
                <key>sourceSize</key>
                <string>{101,142}</string>
            </dict>
            <key>Tab_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,858},{102,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,141}}</string>
                <key>sourceSize</key>
                <string>{102,141}</string>
            </dict>
            <key>Tab_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,716},{103,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,140}}</string>
                <key>sourceSize</key>
                <string>{103,140}</string>
            </dict>
            <key>Title_Tab_inventory.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{393,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,71}}</string>
                <key>sourceSize</key>
                <string>{393,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>inventory_new.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfd16df9119c55ba02ed8302e1e2bfae:1/1$</string>
            <key>textureFileName</key>
            <string>inventory_new.png</string>
        </dict>
    </dict>
</plist>
