<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Icon_Battery_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,94},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>Icon_Battery_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,48},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>Icon_Battery_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>Icon_Chalk.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,180},{135,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,144}}</string>
                <key>sourceSize</key>
                <string>{135,144}</string>
            </dict>
            <key>Icon_Coupon.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,342},{156,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,110}}</string>
                <key>sourceSize</key>
                <string>{156,110}</string>
            </dict>
            <key>Icon_Coupon_Gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{164,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,110}}</string>
                <key>sourceSize</key>
                <string>{164,110}</string>
            </dict>
            <key>Icon_Gacha_Box_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{199,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,176}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Icon_Gacha_Box_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{201,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,160}}</string>
                <key>sourceSize</key>
                <string>{201,160}</string>
            </dict>
            <key>Icon_Gacha_Box_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{199,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,176}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Icon_Glove.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,180},{144,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,170}}</string>
                <key>sourceSize</key>
                <string>{144,170}</string>
            </dict>
            <key>Icon_Gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,461},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>Icon_Upgrade_Mat_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,326},{66,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,50}}</string>
                <key>sourceSize</key>
                <string>{66,50}</string>
            </dict>
            <key>Icon_Upgrade_Mat_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,106},{66,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,50}}</string>
                <key>sourceSize</key>
                <string>{66,50}</string>
            </dict>
            <key>Icon_Upgrade_Mat_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,394},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>Icon_Upgrade_Mat_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,54},{66,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,50}}</string>
                <key>sourceSize</key>
                <string>{66,50}</string>
            </dict>
            <key>Icon_Upgrade_Mat_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{66,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,50}}</string>
                <key>sourceSize</key>
                <string>{66,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ItemIcons.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5986badc2498fd6cbffbe4ec3d90a79:1/1$</string>
            <key>textureFileName</key>
            <string>ItemIcons.png</string>
        </dict>
    </dict>
</plist>
