<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>League_01_BG_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1136,557}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,557}}</string>
                <key>sourceSize</key>
                <string>{1136,557}</string>
            </dict>
            <key>League_01_BT_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1281},{242,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,67}}</string>
                <key>sourceSize</key>
                <string>{242,67}</string>
            </dict>
            <key>League_01_BT_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,539},{244,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,67}}</string>
                <key>sourceSize</key>
                <string>{244,67}</string>
            </dict>
            <key>League_01_BT_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,1281},{49,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,90}}</string>
                <key>sourceSize</key>
                <string>{49,90}</string>
            </dict>
            <key>League_01_BT_Back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,1281},{82,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,56}}</string>
                <key>sourceSize</key>
                <string>{82,56}</string>
            </dict>
            <key>League_01_Bronze_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,411},{126,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,223}}</string>
                <key>sourceSize</key>
                <string>{126,223}</string>
            </dict>
            <key>League_01_Bronze_1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,803},{149,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,274}}</string>
                <key>sourceSize</key>
                <string>{149,274}</string>
            </dict>
            <key>League_01_Bronze_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,1153},{132,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,253}}</string>
                <key>sourceSize</key>
                <string>{132,253}</string>
            </dict>
            <key>League_01_Bronze_2a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,856},{156,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,295}}</string>
                <key>sourceSize</key>
                <string>{156,295}</string>
            </dict>
            <key>League_01_Bronze_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,539},{167,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,262}}</string>
                <key>sourceSize</key>
                <string>{167,262}</string>
            </dict>
            <key>League_01_Bronze_3a.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,917},{190,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,298}}</string>
                <key>sourceSize</key>
                <string>{190,298}</string>
            </dict>
            <key>League_01_FX_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1232},{131,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,294}}</string>
                <key>sourceSize</key>
                <string>{131,294}</string>
            </dict>
            <key>League_01_LO_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,560},{1136,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,35}}</string>
                <key>sourceSize</key>
                <string>{1136,35}</string>
            </dict>
            <key>League_01_LO_01a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,597},{1135,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1135,27}}</string>
                <key>sourceSize</key>
                <string>{1135,27}</string>
            </dict>
            <key>League_01_LO_01b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,1079},{85,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,138}}</string>
                <key>sourceSize</key>
                <string>{85,138}</string>
            </dict>
            <key>League_01_LO_01c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,744},{38,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,44}}</string>
                <key>sourceSize</key>
                <string>{38,44}</string>
            </dict>
            <key>League_01_LO_02a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,1},{252,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,21}}</string>
                <key>sourceSize</key>
                <string>{252,21}</string>
            </dict>
            <key>League_01_LO_02b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,1332},{29,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,35}}</string>
                <key>sourceSize</key>
                <string>{29,35}</string>
            </dict>
            <key>League_01_LO_02c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,1},{252,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,12}}</string>
                <key>sourceSize</key>
                <string>{252,12}</string>
            </dict>
            <key>League_01_LO_02d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,1332},{29,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,27}}</string>
                <key>sourceSize</key>
                <string>{29,27}</string>
            </dict>
            <key>League_02_AV_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1629,991},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>League_02_BG_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,1},{356,473}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,473}}</string>
                <key>sourceSize</key>
                <string>{356,473}</string>
            </dict>
            <key>League_02_BG_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,626},{755,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{755,117}}</string>
                <key>sourceSize</key>
                <string>{755,117}</string>
            </dict>
            <key>League_02_BG_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,745},{755,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{755,117}}</string>
                <key>sourceSize</key>
                <string>{755,117}</string>
            </dict>
            <key>League_02_BG_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1629,803},{186,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,27}}</string>
                <key>sourceSize</key>
                <string>{186,27}</string>
            </dict>
            <key>League_02_BG_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,864},{732,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{732,32}}</string>
                <key>sourceSize</key>
                <string>{732,32}</string>
            </dict>
            <key>League_02_IC_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,864},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>League_02_IC_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,1217},{78,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,8}}</string>
                <key>sourceSize</key>
                <string>{78,8}</string>
            </dict>
            <key>League_02_IC_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,1085},{58,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,67}}</string>
                <key>sourceSize</key>
                <string>{58,67}</string>
            </dict>
            <key>League_02_IC_03a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,354},{49,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{49,59}</string>
            </dict>
            <key>League_02_IC_03b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,856},{49,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{49,59}</string>
            </dict>
            <key>League_02_IC_03c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,1287},{49,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{49,59}</string>
            </dict>
            <key>League_02_IC_03d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,1281},{49,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{49,59}</string>
            </dict>
            <key>League_02_IC_03e.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,1085},{49,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,59}}</string>
                <key>sourceSize</key>
                <string>{49,59}</string>
            </dict>
            <key>League_02_IC_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,255},{59,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,97}}</string>
                <key>sourceSize</key>
                <string>{59,97}</string>
            </dict>
            <key>League_02_IC_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1240},{60,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,82}}</string>
                <key>sourceSize</key>
                <string>{60,82}</string>
            </dict>
            <key>League_02_IC_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,1281},{60,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,82}}</string>
                <key>sourceSize</key>
                <string>{60,82}</string>
            </dict>
            <key>League_02_IC_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,790},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>League_02_Silver_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,1166},{113,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,265}}</string>
                <key>sourceSize</key>
                <string>{113,265}</string>
            </dict>
            <key>League_02_Silver_1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,917},{136,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,308}}</string>
                <key>sourceSize</key>
                <string>{136,308}</string>
            </dict>
            <key>League_02_Silver_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,856},{137,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,286}}</string>
                <key>sourceSize</key>
                <string>{137,286}</string>
            </dict>
            <key>League_02_Silver_2a.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,898},{161,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,332}}</string>
                <key>sourceSize</key>
                <string>{161,332}</string>
            </dict>
            <key>League_02_Silver_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,917},{160,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,299}}</string>
                <key>sourceSize</key>
                <string>{160,299}</string>
            </dict>
            <key>League_02_Silver_3a.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,898},{185,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,340}}</string>
                <key>sourceSize</key>
                <string>{185,340}</string>
            </dict>
            <key>League_03_AV_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1240},{110,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,109}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>League_03_BG_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,476},{351,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,136}}</string>
                <key>sourceSize</key>
                <string>{351,136}</string>
            </dict>
            <key>League_03_Gold_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,744},{110,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,305}}</string>
                <key>sourceSize</key>
                <string>{110,305}</string>
            </dict>
            <key>League_03_Gold_1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1227},{136,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,341}}</string>
                <key>sourceSize</key>
                <string>{136,341}</string>
            </dict>
            <key>League_03_Gold_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,614},{128,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,335}}</string>
                <key>sourceSize</key>
                <string>{128,335}</string>
            </dict>
            <key>League_03_Gold_2a.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,626},{153,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,375}}</string>
                <key>sourceSize</key>
                <string>{153,375}</string>
            </dict>
            <key>League_03_Gold_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,781},{134,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,347}}</string>
                <key>sourceSize</key>
                <string>{134,347}</string>
            </dict>
            <key>League_03_Gold_3a.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,898},{156,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,380}}</string>
                <key>sourceSize</key>
                <string>{156,380}</string>
            </dict>
            <key>League_03_IC_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,1287},{72,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,117}}</string>
                <key>sourceSize</key>
                <string>{72,117}</string>
            </dict>
            <key>League_03_IC_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1287},{74,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,99}}</string>
                <key>sourceSize</key>
                <string>{74,99}</string>
            </dict>
            <key>League_03_IC_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1280},{74,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,99}}</string>
                <key>sourceSize</key>
                <string>{74,99}</string>
            </dict>
            <key>League_04_Diamond_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,898},{178,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,381}}</string>
                <key>sourceSize</key>
                <string>{178,381}</string>
            </dict>
            <key>League_04_Diamond_1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,1},{176,408}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,408}}</string>
                <key>sourceSize</key>
                <string>{176,408}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LeagueSession.png</string>
            <key>size</key>
            <string>{1735,1364}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5650c347c275edc8e1149ac880a1925c:a7c80517ebde70f526fd18c0d5ea0f9f:11795dc51880510519f1766d37d23aa8$</string>
            <key>textureFileName</key>
            <string>LeagueSession.png</string>
        </dict>
    </dict>
</plist>
