<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Lobby_9ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1085},{104,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,85}}</string>
                <key>sourceSize</key>
                <string>{104,85}</string>
            </dict>
            <key>Lobby_Achievement_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,31},{26,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,50}}</string>
                <key>sourceSize</key>
                <string>{26,50}</string>
            </dict>
            <key>Lobby_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,83},{156,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,24}}</string>
                <key>sourceSize</key>
                <string>{156,24}</string>
            </dict>
            <key>Lobby_CheDoChoi.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,964},{130,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,86}}</string>
                <key>sourceSize</key>
                <string>{130,86}</string>
            </dict>
            <key>Lobby_ChoiNgay_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{474,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,217}}</string>
                <key>sourceSize</key>
                <string>{474,217}</string>
            </dict>
            <key>Lobby_ChoiNgay_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,683},{147,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,195}}</string>
                <key>sourceSize</key>
                <string>{147,195}</string>
            </dict>
            <key>Lobby_ChoiNgay_Text.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,553},{152,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,118}}</string>
                <key>sourceSize</key>
                <string>{152,118}</string>
            </dict>
            <key>Lobby_ChooseMode.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,801},{161,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,145}}</string>
                <key>sourceSize</key>
                <string>{161,145}</string>
            </dict>
            <key>Lobby_Club_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1191},{40,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,56}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>Lobby_Friend_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1191},{40,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,47}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>Lobby_GiaiTheBi_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{366,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,164}}</string>
                <key>sourceSize</key>
                <string>{366,164}</string>
            </dict>
            <key>Lobby_Gold_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1052},{128,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,85}}</string>
                <key>sourceSize</key>
                <string>{128,85}</string>
            </dict>
            <key>Lobby_Goldfree_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1220},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>Lobby_Inven_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1215},{49,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,57}}</string>
                <key>sourceSize</key>
                <string>{49,57}</string>
            </dict>
            <key>Lobby_Leaderboard_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,919},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>Lobby_Level.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1220},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Lobby_Lines.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,387},{12,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,85}}</string>
                <key>sourceSize</key>
                <string>{12,85}</string>
            </dict>
            <key>Lobby_LuckyGames_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,954},{93,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,85}}</string>
                <key>sourceSize</key>
                <string>{93,85}</string>
            </dict>
            <key>Lobby_LuckyGames_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,241},{114,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,66}}</string>
                <key>sourceSize</key>
                <string>{114,66}</string>
            </dict>
            <key>Lobby_Mail_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1220},{41,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,33}}</string>
                <key>sourceSize</key>
                <string>{41,33}</string>
            </dict>
            <key>Lobby_Menu_Button_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,309},{846,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{846,112}}</string>
                <key>sourceSize</key>
                <string>{846,112}</string>
            </dict>
            <key>Lobby_PhaTheBi.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1139},{108,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,79}}</string>
                <key>sourceSize</key>
                <string>{108,79}</string>
            </dict>
            <key>Lobby_Purchase_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>Lobby_Rank_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,917},{184,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,35}}</string>
                <key>sourceSize</key>
                <string>{184,35}</string>
            </dict>
            <key>Lobby_Rank_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,683},{184,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,35}}</string>
                <key>sourceSize</key>
                <string>{184,35}</string>
            </dict>
            <key>Lobby_Rank_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,877},{184,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,38}}</string>
                <key>sourceSize</key>
                <string>{184,38}</string>
            </dict>
            <key>Lobby_Rank_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{184,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,43}}</string>
                <key>sourceSize</key>
                <string>{184,43}</string>
            </dict>
            <key>Lobby_Settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,964},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Lobby_Shop_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1026},{59,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,57}}</string>
                <key>sourceSize</key>
                <string>{59,57}</string>
            </dict>
            <key>Lobby_Tab_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1041},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>Lobby_Title_Bar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{1052,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1052,86}}</string>
                <key>sourceSize</key>
                <string>{1052,86}</string>
            </dict>
            <key>Lobby_Title_Bar_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1129},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,86}}</string>
                <key>sourceSize</key>
                <string>{84,86}</string>
            </dict>
            <key>Lobby_TranhTai_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{392,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,164}}</string>
                <key>sourceSize</key>
                <string>{392,164}</string>
            </dict>
            <key>Lobby_TranhTai_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,673},{149,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,126}}</string>
                <key>sourceSize</key>
                <string>{149,126}</string>
            </dict>
            <key>Lobby_Workshop_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,869},{45,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,48}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>Lobby_luckygame_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,553},{234,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,128}}</string>
                <key>sourceSize</key>
                <string>{234,128}</string>
            </dict>
            <key>Lobby_rank_node_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,221},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>Lobby_rank_node_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,221},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{15,13}</string>
            </dict>
            <key>Lobby_rank_node_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,221},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>Lobby_trail_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1157},{105,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,111}}</string>
                <key>sourceSize</key>
                <string>{105,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LobbyGame.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4c863865b5f2094efd14acf0b490ad9:1/1$</string>
            <key>textureFileName</key>
            <string>LobbyGame.png</string>
        </dict>
    </dict>
</plist>
