<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02_WH_TE_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,1},{356,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,129}}</string>
                <key>sourceSize</key>
                <string>{356,129}</string>
            </dict>
            <key>Achievenment/Achievement.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,139},{305,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,35}}</string>
                <key>sourceSize</key>
                <string>{305,35}</string>
            </dict>
            <key>Channel/CaoCap.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,184},{285,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,38}}</string>
                <key>sourceSize</key>
                <string>{285,38}</string>
            </dict>
            <key>Channel/Friendmode.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,176},{266,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,38}}</string>
                <key>sourceSize</key>
                <string>{266,38}</string>
            </dict>
            <key>Channel/Raceto1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,214},{204,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,39}}</string>
                <key>sourceSize</key>
                <string>{204,39}</string>
            </dict>
            <key>Channel/Raceto2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,173},{211,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,39}}</string>
                <key>sourceSize</key>
                <string>{211,39}</string>
            </dict>
            <key>Channel/Raceto3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,132},{210,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,39}}</string>
                <key>sourceSize</key>
                <string>{210,39}</string>
            </dict>
            <key>Channel/SoCap.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,204},{145,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,39}}</string>
                <key>sourceSize</key>
                <string>{145,39}</string>
            </dict>
            <key>Channel/Streak2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,214},{195,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,39}}</string>
                <key>sourceSize</key>
                <string>{195,39}</string>
            </dict>
            <key>Channel/Tapsu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,173},{184,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,39}}</string>
                <key>sourceSize</key>
                <string>{184,39}</string>
            </dict>
            <key>Channel/ThuongCap.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,143},{282,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,39}}</string>
                <key>sourceSize</key>
                <string>{282,39}</string>
            </dict>
            <key>Channel/TrungCap.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,132},{218,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,39}}</string>
                <key>sourceSize</key>
                <string>{218,39}</string>
            </dict>
            <key>EndGame_YOULOSE.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{417,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,140}}</string>
                <key>sourceSize</key>
                <string>{417,140}</string>
            </dict>
            <key>EndGame_YOUWIN.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1},{381,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,136}}</string>
                <key>sourceSize</key>
                <string>{381,136}</string>
            </dict>
            <key>IngameEBP_FOUL_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,1},{275,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,142}}</string>
                <key>sourceSize</key>
                <string>{275,142}</string>
            </dict>
            <key>Lobby_LuckyGames_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,1},{114,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,66}}</string>
                <key>sourceSize</key>
                <string>{114,66}</string>
            </dict>
            <key>Lobby_Play8ball_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,143},{175,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,108}}</string>
                <key>sourceSize</key>
                <string>{175,108}</string>
            </dict>
            <key>Lobby_Play9ball_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,1},{116,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,72}}</string>
                <key>sourceSize</key>
                <string>{116,72}</string>
            </dict>
            <key>Lobby_Trickshot_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,145},{141,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,57}}</string>
                <key>sourceSize</key>
                <string>{141,57}</string>
            </dict>
            <key>workshop_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,176},{277,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,38}}</string>
                <key>sourceSize</key>
                <string>{277,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Localize_en.png</string>
            <key>size</key>
            <string>{1579,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef3ba3b6f80eab55ec463aca05008e95:b13a4ee6eb509ee945ac8c9d4f62ff31:4c93190bf6e14a3d6c16636fae0f9c31$</string>
            <key>textureFileName</key>
            <string>Localize_en.png</string>
        </dict>
    </dict>
</plist>
