<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>02_WH_TE_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{356,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,126}}</string>
                <key>sourceSize</key>
                <string>{356,126}</string>
            </dict>
            <key>Achievenment/Achievement.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,969},{256,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,51}}</string>
                <key>sourceSize</key>
                <string>{256,51}</string>
            </dict>
            <key>Channel/CaoCap.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,767},{178,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,49}}</string>
                <key>sourceSize</key>
                <string>{178,49}</string>
            </dict>
            <key>Channel/Friendmode.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{266,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,38}}</string>
                <key>sourceSize</key>
                <string>{266,38}</string>
            </dict>
            <key>Channel/Raceto1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,568},{241,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,42}}</string>
                <key>sourceSize</key>
                <string>{241,42}</string>
            </dict>
            <key>Channel/Raceto2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{282,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,57}}</string>
                <key>sourceSize</key>
                <string>{282,57}</string>
            </dict>
            <key>Channel/Raceto3.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,268},{298,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,57}}</string>
                <key>sourceSize</key>
                <string>{298,57}</string>
            </dict>
            <key>Channel/SoCap.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,503},{151,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,49}}</string>
                <key>sourceSize</key>
                <string>{151,49}</string>
            </dict>
            <key>Channel/Streak2.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,712},{160,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,50}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>Channel/Tapsu.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,218},{157,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,52}}</string>
                <key>sourceSize</key>
                <string>{157,52}</string>
            </dict>
            <key>Channel/ThuongCap.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,445},{251,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,56}}</string>
                <key>sourceSize</key>
                <string>{251,56}</string>
            </dict>
            <key>Channel/TrungCap.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,612},{225,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,49}}</string>
                <key>sourceSize</key>
                <string>{225,49}</string>
            </dict>
            <key>EndGame_YOULOSE.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{410,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,166}}</string>
                <key>sourceSize</key>
                <string>{410,166}</string>
            </dict>
            <key>EndGame_YOUWIN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{522,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,156}}</string>
                <key>sourceSize</key>
                <string>{522,156}</string>
            </dict>
            <key>IngameEBP_FOUL_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,767},{201,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,167}}</string>
                <key>sourceSize</key>
                <string>{201,167}</string>
            </dict>
            <key>Lobby_LuckyGames_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,2},{114,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,66}}</string>
                <key>sourceSize</key>
                <string>{114,66}</string>
            </dict>
            <key>Lobby_Play8ball_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,663},{221,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,47}}</string>
                <key>sourceSize</key>
                <string>{221,47}</string>
            </dict>
            <key>Lobby_Play9ball_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,503},{177,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,39}}</string>
                <key>sourceSize</key>
                <string>{177,39}</string>
            </dict>
            <key>Lobby_Trickshot_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,118},{148,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,62}}</string>
                <key>sourceSize</key>
                <string>{148,62}</string>
            </dict>
            <key>Thuthach_Cothu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{429,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,46}}</string>
                <key>sourceSize</key>
                <string>{429,46}</string>
            </dict>
            <key>hoicho.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,377},{123,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,43}}</string>
                <key>sourceSize</key>
                <string>{123,43}</string>
            </dict>
            <key>workshop_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,503},{262,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,54}}</string>
                <key>sourceSize</key>
                <string>{262,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Localize_vi.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14c1043a200679b1c4c9adf9201de0f7:1/1$</string>
            <key>textureFileName</key>
            <string>Localize_vi.png</string>
        </dict>
    </dict>
</plist>
