<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MB_01_BG_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{792,522}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{792,522}}</string>
                <key>sourceSize</key>
                <string>{792,522}</string>
            </dict>
            <key>MB_01_BG_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,936},{660,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,259}}</string>
                <key>sourceSize</key>
                <string>{660,259}</string>
            </dict>
            <key>MB_01_BG_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,732},{651,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{651,39}}</string>
                <key>sourceSize</key>
                <string>{651,39}</string>
            </dict>
            <key>MB_01_BG_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,492},{470,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,114}}</string>
                <key>sourceSize</key>
                <string>{470,114}</string>
            </dict>
            <key>MB_01_BG_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,243},{159,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,101}}</string>
                <key>sourceSize</key>
                <string>{159,101}</string>
            </dict>
            <key>MB_01_BT_01a.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,927},{102,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,107}}</string>
                <key>sourceSize</key>
                <string>{102,107}</string>
            </dict>
            <key>MB_01_BT_01b.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,823},{102,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,107}}</string>
                <key>sourceSize</key>
                <string>{102,107}</string>
            </dict>
            <key>MB_01_BT_02a.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,629},{101,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,107}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>MB_01_BT_02b.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,526},{101,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,107}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>MB_01_BT_03a.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,720},{101,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,108}}</string>
                <key>sourceSize</key>
                <string>{101,108}</string>
            </dict>
            <key>MB_01_BT_03b.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,617},{101,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,108}}</string>
                <key>sourceSize</key>
                <string>{101,108}</string>
            </dict>
            <key>MB_01_BT_1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1177},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>MB_01_BT_1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1088},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>MB_01_BT_2a.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,999},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>MB_01_BT_2b.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,910},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>MB_01_BT_3a.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,821},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>MB_01_BT_3b.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,732},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>MB_01_BT_Close.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,540},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>MB_01_IC_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,492},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>MB_01_IC_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,356},{259,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,8}}</string>
                <key>sourceSize</key>
                <string>{259,8}</string>
            </dict>
            <key>MB_01_IC_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,964},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>MB_01_TI_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,964},{404,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,82}}</string>
                <key>sourceSize</key>
                <string>{404,82}</string>
            </dict>
            <key>MB_03_BG_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{660,408}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,408}}</string>
                <key>sourceSize</key>
                <string>{660,408}</string>
            </dict>
            <key>MB_03_BG_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,2},{536,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,57}}</string>
                <key>sourceSize</key>
                <string>{536,57}</string>
            </dict>
            <key>MB_03_IC_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,346},{157,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,8}}</string>
                <key>sourceSize</key>
                <string>{157,8}</string>
            </dict>
            <key>MB_03_IC_02a.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,356},{134,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,140}}</string>
                <key>sourceSize</key>
                <string>{134,140}</string>
            </dict>
            <key>MB_03_IC_02b.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{161,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,239}}</string>
                <key>sourceSize</key>
                <string>{161,239}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mail_box.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b5f4d4f4573077bd9b036bf51049660:1/1$</string>
            <key>textureFileName</key>
            <string>mail_box.png</string>
        </dict>
    </dict>
</plist>
