<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NumberIngame/text_score_blue_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{97,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,110}}</string>
                <key>sourceSize</key>
                <string>{97,110}</string>
            </dict>
            <key>NumberIngame/text_score_blue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1},{56,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,106}}</string>
                <key>sourceSize</key>
                <string>{56,106}</string>
            </dict>
            <key>NumberIngame/text_score_blue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1},{93,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,107}}</string>
                <key>sourceSize</key>
                <string>{93,107}</string>
            </dict>
            <key>NumberIngame/text_score_blue_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1},{88,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,110}}</string>
                <key>sourceSize</key>
                <string>{88,110}</string>
            </dict>
            <key>NumberIngame/text_score_red_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1},{97,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,110}}</string>
                <key>sourceSize</key>
                <string>{97,110}</string>
            </dict>
            <key>NumberIngame/text_score_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,1},{56,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,106}}</string>
                <key>sourceSize</key>
                <string>{56,106}</string>
            </dict>
            <key>NumberIngame/text_score_red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1},{93,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,107}}</string>
                <key>sourceSize</key>
                <string>{93,107}</string>
            </dict>
            <key>NumberIngame/text_score_red_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1},{88,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,110}}</string>
                <key>sourceSize</key>
                <string>{88,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>NumberIngame.png</string>
            <key>size</key>
            <string>{684,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09d69cb7af85cc2bb764b9c7289125d8:72c2bf17458f41dcd83969be7ea2d4b6:b06640f71cb8ebd5e291aa2f45ca5ae9$</string>
            <key>textureFileName</key>
            <string>NumberIngame.png</string>
        </dict>
    </dict>
</plist>
