<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Demo_Offer Starter4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>Tach_Offer Starter/01_BG_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,2},{328,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,28}}</string>
                <key>sourceSize</key>
                <string>{328,28}</string>
            </dict>
            <key>Tach_Offer Starter/01_BG_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1470},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>Tach_Offer Starter/01_BG_02_Shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,458},{601,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,58}}</string>
                <key>sourceSize</key>
                <string>{601,58}</string>
            </dict>
            <key>Tach_Offer Starter/01_BG_02a.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1470},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>Tach_Offer Starter/01_BG_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,362},{190,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,39}}</string>
                <key>sourceSize</key>
                <string>{190,39}</string>
            </dict>
            <key>Tach_Offer Starter/01_BG_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,75},{749,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{749,119}}</string>
                <key>sourceSize</key>
                <string>{749,119}</string>
            </dict>
            <key>Tach_Offer Starter/01_BT_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,716},{249,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,99}}</string>
                <key>sourceSize</key>
                <string>{249,99}</string>
            </dict>
            <key>Tach_Offer Starter/01_BT_02_tab1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1149},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>Tach_Offer Starter/01_BT_02_tab1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1061},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>Tach_Offer Starter/01_FX_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,826},{290,431}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,431}}</string>
                <key>sourceSize</key>
                <string>{290,431}</string>
            </dict>
            <key>Tach_Offer Starter/01_FX_01a.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1259},{209,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,233}}</string>
                <key>sourceSize</key>
                <string>{209,233}</string>
            </dict>
            <key>Tach_Offer Starter/01_FX_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{830,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{830,358}}</string>
                <key>sourceSize</key>
                <string>{830,358}</string>
            </dict>
            <key>Tach_Offer Starter/01_FX_02a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1964},{78,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,195}}</string>
                <key>sourceSize</key>
                <string>{78,195}</string>
            </dict>
            <key>Tach_Offer Starter/01_FX_02b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{208,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,108}}</string>
                <key>sourceSize</key>
                <string>{208,108}</string>
            </dict>
            <key>Tach_Offer Starter/01_FX_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{755,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{755,352}}</string>
                <key>sourceSize</key>
                <string>{755,352}</string>
            </dict>
            <key>Tach_Offer Starter/01_FX_03a.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{153,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,71}}</string>
                <key>sourceSize</key>
                <string>{153,71}</string>
            </dict>
            <key>Tach_Offer Starter/01_IC_Of1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,332},{67,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,62}}</string>
                <key>sourceSize</key>
                <string>{67,64}</string>
            </dict>
            <key>Tach_Offer Starter/01_IC_Of1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,396},{65,60}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{65,60}}</string>
                <key>sourceSize</key>
                <string>{67,64}</string>
            </dict>
            <key>Tach_Offer Starter/01_LO_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,716},{330,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,97}}</string>
                <key>sourceSize</key>
                <string>{330,97}</string>
            </dict>
            <key>Tach_Offer Starter/01_TI_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1259},{696,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{696,106}}</string>
                <key>sourceSize</key>
                <string>{696,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>offer_starter.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:973b5a1c4f3b61c0195143f276a7d77d:1/1$</string>
            <key>textureFileName</key>
            <string>offer_starter.png</string>
        </dict>
    </dict>
</plist>
