<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>OF_03_BT_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1936},{249,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,99}}</string>
                <key>sourceSize</key>
                <string>{249,99}</string>
            </dict>
            <key>OF_03_FX_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1624},{411,419}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{411,419}}</string>
                <key>sourceSize</key>
                <string>{413,419}</string>
            </dict>
            <key>OF_03_FX_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,839},{389,363}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{389,363}}</string>
                <key>sourceSize</key>
                <string>{413,419}</string>
            </dict>
            <key>OF_03_FX_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{729,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{729,396}}</string>
                <key>sourceSize</key>
                <string>{729,396}</string>
            </dict>
            <key>OF_03_IC_Of3a.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1682},{63,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,56}}</string>
                <key>sourceSize</key>
                <string>{63,56}</string>
            </dict>
            <key>OF_03_IC_Of3b.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1624},{63,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,56}}</string>
                <key>sourceSize</key>
                <string>{63,56}</string>
            </dict>
            <key>OF_03_IT_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,730},{539,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,372}}</string>
                <key>sourceSize</key>
                <string>{539,372}</string>
            </dict>
            <key>OF_03_TE_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1839},{330,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,95}}</string>
                <key>sourceSize</key>
                <string>{330,95}</string>
            </dict>
            <key>OF_03_TI_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1239},{799,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{799,93}}</string>
                <key>sourceSize</key>
                <string>{799,93}</string>
            </dict>
            <key>OF_04_BG_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1271},{566,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,182}}</string>
                <key>sourceSize</key>
                <string>{566,182}</string>
            </dict>
            <key>OF_04_BO_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,839},{381,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,145}}</string>
                <key>sourceSize</key>
                <string>{381,145}</string>
            </dict>
            <key>OF_04_FX_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{549,437}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,437}}</string>
                <key>sourceSize</key>
                <string>{549,437}</string>
            </dict>
            <key>OF_04_FX_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1239},{487,383}}</string>
                <key>offset</key>
                <string>{7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,11},{487,383}}</string>
                <key>sourceSize</key>
                <string>{549,437}</string>
            </dict>
            <key>OF_04_IC_Of4a.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,616},{67,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,46}}</string>
                <key>sourceSize</key>
                <string>{67,46}</string>
            </dict>
            <key>OF_04_IC_Of4b.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,547},{67,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,46}}</string>
                <key>sourceSize</key>
                <string>{67,46}</string>
            </dict>
            <key>OF_04_IT_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,2},{543,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,288}}</string>
                <key>sourceSize</key>
                <string>{543,288}</string>
            </dict>
            <key>OF_04_IT_01a.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1271},{163,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,170}}</string>
                <key>sourceSize</key>
                <string>{163,170}</string>
            </dict>
            <key>OF_04_IT_01b.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,1936},{134,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{134,89}}</string>
                <key>sourceSize</key>
                <string>{134,91}</string>
            </dict>
            <key>OF_04_TE_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,547},{279,133}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,2},{279,133}}</string>
                <key>sourceSize</key>
                <string>{381,145}</string>
            </dict>
            <key>OF_04_TI_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,400},{837,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{837,95}}</string>
                <key>sourceSize</key>
                <string>{837,95}</string>
            </dict>
            <key>OF_OF_03_BG_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,400},{328,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,40}}</string>
                <key>sourceSize</key>
                <string>{328,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>offer_v2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:573c57f81a4c0a5ba37dd01586c4b157:1/1$</string>
            <key>textureFileName</key>
            <string>offer_v2.png</string>
        </dict>
    </dict>
</plist>
