<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>OpenCard/01_BT_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{227,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,91}}</string>
                <key>sourceSize</key>
                <string>{227,91}</string>
            </dict>
            <key>OpenCard/01_CA_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,312},{143,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{143,178}}</string>
                <key>sourceSize</key>
                <string>{149,182}</string>
            </dict>
            <key>OpenCard/01_CA_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{143,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,177}}</string>
                <key>sourceSize</key>
                <string>{143,177}</string>
            </dict>
            <key>OpenCard/01_IC_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,243},{57,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,74}}</string>
                <key>sourceSize</key>
                <string>{57,74}</string>
            </dict>
            <key>OpenCard/02_BT_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,95},{206,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,62}}</string>
                <key>sourceSize</key>
                <string>{206,62}</string>
            </dict>
            <key>OpenCard/02_CA_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{145,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,178}}</string>
                <key>sourceSize</key>
                <string>{145,178}</string>
            </dict>
            <key>OpenCard/02_CA_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,159},{151,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,178}}</string>
                <key>sourceSize</key>
                <string>{151,178}</string>
            </dict>
            <key>OpenCard/02_IC_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,302},{55,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,72}}</string>
                <key>sourceSize</key>
                <string>{55,72}</string>
            </dict>
            <key>OpenCard/BG_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{239,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,262}}</string>
                <key>sourceSize</key>
                <string>{239,262}</string>
            </dict>
            <key>OpenCard/BG_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,133},{257,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,31}}</string>
                <key>sourceSize</key>
                <string>{257,31}</string>
            </dict>
            <key>OpenCard/BG_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,457},{153,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,154}}</string>
                <key>sourceSize</key>
                <string>{153,154}</string>
            </dict>
            <key>OpenCard/IC_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,2},{129,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,8}}</string>
                <key>sourceSize</key>
                <string>{129,8}</string>
            </dict>
            <key>OpenCard/IC_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,159},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>OpenCard/IC_MI_01a.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,535},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>OpenCard/IC_MI_01b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,535},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>OpenCard/IC_MI_02a.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,546},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>OpenCard/IC_MI_02b.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,457},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>OpenCard.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71f212bcaaf52681072d1bb54a8ba93c:1/1$</string>
            <key>textureFileName</key>
            <string>OpenCard.png</string>
        </dict>
    </dict>
</plist>
