<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pm_123PABB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,180},{133,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,32}}</string>
                <key>sourceSize</key>
                <string>{133,32}</string>
            </dict>
            <key>pm_123PACB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,373},{103,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,66}}</string>
                <key>sourceSize</key>
                <string>{103,66}</string>
            </dict>
            <key>pm_123PBIDV_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,265},{121,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,48}}</string>
                <key>sourceSize</key>
                <string>{121,48}</string>
            </dict>
            <key>pm_123PBVB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,214},{133,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,24}}</string>
                <key>sourceSize</key>
                <string>{133,24}</string>
            </dict>
            <key>pm_123PCC_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,276},{95,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,58}}</string>
                <key>sourceSize</key>
                <string>{95,58}</string>
            </dict>
            <key>pm_123PDAB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,378},{127,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,60}}</string>
                <key>sourceSize</key>
                <string>{127,60}</string>
            </dict>
            <key>pm_123PEIB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,272},{127,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,62}}</string>
                <key>sourceSize</key>
                <string>{127,62}</string>
            </dict>
            <key>pm_123PGPB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,142},{133,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,36}}</string>
                <key>sourceSize</key>
                <string>{133,36}</string>
            </dict>
            <key>pm_123PHDB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,114},{137,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,38}}</string>
                <key>sourceSize</key>
                <string>{137,38}</string>
            </dict>
            <key>pm_123PHSBC_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,306},{85,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,72}}</string>
                <key>sourceSize</key>
                <string>{85,72}</string>
            </dict>
            <key>pm_123PLPB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{113,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,70}}</string>
                <key>sourceSize</key>
                <string>{113,70}</string>
            </dict>
            <key>pm_123PMB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,401},{107,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,70}}</string>
                <key>sourceSize</key>
                <string>{107,70}</string>
            </dict>
            <key>pm_123PMSB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,139},{135,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,42}}</string>
                <key>sourceSize</key>
                <string>{135,42}</string>
            </dict>
            <key>pm_123PNAB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,46},{137,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,66}}</string>
                <key>sourceSize</key>
                <string>{137,66}</string>
            </dict>
            <key>pm_123PNASB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{135,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,38}}</string>
                <key>sourceSize</key>
                <string>{135,38}</string>
            </dict>
            <key>pm_123PNVB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,2},{135,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,34}}</string>
                <key>sourceSize</key>
                <string>{135,34}</string>
            </dict>
            <key>pm_123POCB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,254},{125,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,44}}</string>
                <key>sourceSize</key>
                <string>{125,44}</string>
            </dict>
            <key>pm_123POJB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,84},{137,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,56}}</string>
                <key>sourceSize</key>
                <string>{137,56}</string>
            </dict>
            <key>pm_123PPGB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{135,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,38}}</string>
                <key>sourceSize</key>
                <string>{135,38}</string>
            </dict>
            <key>pm_123PSCB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{135,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,62}}</string>
                <key>sourceSize</key>
                <string>{135,62}</string>
            </dict>
            <key>pm_123PSEAB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,190},{133,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,30}}</string>
                <key>sourceSize</key>
                <string>{133,30}</string>
            </dict>
            <key>pm_123PSGB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{121,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,68}}</string>
                <key>sourceSize</key>
                <string>{121,68}</string>
            </dict>
            <key>pm_123PSHB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,154},{133,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,34}}</string>
                <key>sourceSize</key>
                <string>{133,34}</string>
            </dict>
            <key>pm_123PTCB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,380},{129,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,60}}</string>
                <key>sourceSize</key>
                <string>{129,60}</string>
            </dict>
            <key>pm_123PTPB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,222},{131,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,30}}</string>
                <key>sourceSize</key>
                <string>{131,30}</string>
            </dict>
            <key>pm_123PVAB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,240},{129,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,64}}</string>
                <key>sourceSize</key>
                <string>{129,64}</string>
            </dict>
            <key>pm_123PVARB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,388},{119,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,66}}</string>
                <key>sourceSize</key>
                <string>{119,66}</string>
            </dict>
            <key>pm_123PVCB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,128},{135,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,48}}</string>
                <key>sourceSize</key>
                <string>{135,48}</string>
            </dict>
            <key>pm_123PVIB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,306},{115,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,70}}</string>
                <key>sourceSize</key>
                <string>{115,70}</string>
            </dict>
            <key>pm_123PVPB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,380},{129,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,32}}</string>
                <key>sourceSize</key>
                <string>{129,32}</string>
            </dict>
            <key>pm_123PVTB_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{139,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,42}}</string>
                <key>sourceSize</key>
                <string>{139,42}</string>
            </dict>
            <key>pm_nh_bgr.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{143,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,80}}</string>
                <key>sourceSize</key>
                <string>{143,80}</string>
            </dict>
            <key>pm_nh_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,124}}</string>
                <key>sourceSize</key>
                <string>{185,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Payment.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf08a5172259723a42975580f2192993:1/1$</string>
            <key>textureFileName</key>
            <string>Payment.png</string>
        </dict>
    </dict>
</plist>
