<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Profile/Avatar_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,1},{1130,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1130,123}}</string>
                <key>sourceSize</key>
                <string>{1130,123}</string>
            </dict>
            <key>Profile/Board_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1172,580}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1172,580}}</string>
                <key>sourceSize</key>
                <string>{1172,580}</string>
            </dict>
            <key>Profile/Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,1},{370,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,168}}</string>
                <key>sourceSize</key>
                <string>{370,168}</string>
            </dict>
            <key>Profile/Cue_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,1},{780,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{780,99}}</string>
                <key>sourceSize</key>
                <string>{780,99}</string>
            </dict>
            <key>Profile/Graph.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,373},{351,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,209}}</string>
                <key>sourceSize</key>
                <string>{351,209}</string>
            </dict>
            <key>Profile/Green_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,1095},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>Profile/Inside_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,583},{1144,549}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1144,549}}</string>
                <key>sourceSize</key>
                <string>{1144,549}</string>
            </dict>
            <key>Profile/Level_bar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,583},{211,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,19}}</string>
                <key>sourceSize</key>
                <string>{211,19}</string>
            </dict>
            <key>Profile/Level_bar_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,796},{206,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,13}}</string>
                <key>sourceSize</key>
                <string>{206,13}</string>
            </dict>
            <key>Profile/Lines.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,1004},{1,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,89}}</string>
                <key>sourceSize</key>
                <string>{1,89}</string>
            </dict>
            <key>Profile/Number_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,846},{117,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,42}}</string>
                <key>sourceSize</key>
                <string>{117,42}</string>
            </dict>
            <key>Profile/Red_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,1108},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>Profile/Tab_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,967},{182,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,60}}</string>
                <key>sourceSize</key>
                <string>{182,60}</string>
            </dict>
            <key>Profile/Tab_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,783},{182,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,61}}</string>
                <key>sourceSize</key>
                <string>{182,61}</string>
            </dict>
            <key>Profile/Tab_Choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,783},{178,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,61}}</string>
                <key>sourceSize</key>
                <string>{178,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Profile.png</string>
            <key>size</key>
            <string>{1611,1133}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb49ae446a046edfcb8a4449da4d3801:a2134d018623807b6da17e4ca63fd93e:592d40b2c61287018200bc18bfa77287$</string>
            <key>textureFileName</key>
            <string>Profile.png</string>
        </dict>
    </dict>
</plist>
