<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tut_basic.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,1},{244,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,399}}</string>
                <key>sourceSize</key>
                <string>{244,399}</string>
            </dict>
            <key>tut_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,247},{244,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,399}}</string>
                <key>sourceSize</key>
                <string>{244,399}</string>
            </dict>
            <key>tut_masses.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,1},{244,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,399}}</string>
                <key>sourceSize</key>
                <string>{244,399}</string>
            </dict>
            <key>tut_practice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,247},{244,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,399}}</string>
                <key>sourceSize</key>
                <string>{244,399}</string>
            </dict>
            <key>tut_task_black_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,419},{419,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,26}}</string>
                <key>sourceSize</key>
                <string>{419,26}</string>
            </dict>
            <key>tut_task_icon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,447},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>tut_task_icon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,447},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>tut_task_icon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,447},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>tut_task_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,470},{211,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,1}}</string>
                <key>sourceSize</key>
                <string>{211,1}</string>
            </dict>
            <key>tuto_ingame_demo_01_i5.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,447},{58,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,21}}</string>
                <key>sourceSize</key>
                <string>{62,21}</string>
            </dict>
            <key>tuto_npc_01_i5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{291,416}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{291,416}}</string>
                <key>sourceSize</key>
                <string>{301,426}</string>
            </dict>
            <key>tuto_practice_frame_01_i5.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,271},{269,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,211}}</string>
                <key>sourceSize</key>
                <string>{269,211}</string>
            </dict>
            <key>tuto_practice_frame_02_i5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,247},{249,191}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{249,191}}</string>
                <key>sourceSize</key>
                <string>{269,211}</string>
            </dict>
            <key>tuto_practice_frame_03_i5.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1},{268,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,421}}</string>
                <key>sourceSize</key>
                <string>{268,421}</string>
            </dict>
            <key>tuto_practice_frame_04_i5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,1},{244,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{244,399}}</string>
                <key>sourceSize</key>
                <string>{268,421}</string>
            </dict>
            <key>tuto_practice_lock_01_i5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,447},{36,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{36,49}}</string>
                <key>sourceSize</key>
                <string>{38,53}</string>
            </dict>
            <key>tutorial_point_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1733,247},{163,135}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{163,135}}</string>
                <key>sourceSize</key>
                <string>{171,135}</string>
            </dict>
            <key>tutorial_point_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,271},{171,129}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{171,129}}</string>
                <key>sourceSize</key>
                <string>{171,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tutorial.png</string>
            <key>size</key>
            <string>{1919,497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc233d30fe1e79c8d98893c88ae3ba6e:66cb6a7daa5ec6a0282e8a932ec1440e:d924b79305e8891ed90a4b70d41a8272$</string>
            <key>textureFileName</key>
            <string>tutorial.png</string>
        </dict>
    </dict>
</plist>
