<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achievement_Achievement.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{305,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,35}}</string>
                <key>sourceSize</key>
                <string>{305,35}</string>
            </dict>
            <key>achievement_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{280,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,390}}</string>
                <key>sourceSize</key>
                <string>{280,390}</string>
            </dict>
            <key>achievement_Check_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,66},{62,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,45}}</string>
                <key>sourceSize</key>
                <string>{62,45}</string>
            </dict>
            <key>achievement_Chest_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,2},{56,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,41}}</string>
                <key>sourceSize</key>
                <string>{56,41}</string>
            </dict>
            <key>achievement_Icon_Achievement_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,478},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>achievement_Icon_Achievement_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,444},{32,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{32,50}</string>
            </dict>
            <key>achievement_Icon_Achievement_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,512},{49,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,44}}</string>
                <key>sourceSize</key>
                <string>{49,44}</string>
            </dict>
            <key>achievement_Icon_Achievement_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,558},{49,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,41}}</string>
                <key>sourceSize</key>
                <string>{49,41}</string>
            </dict>
            <key>achievement_Icon_Achievement_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,60},{41,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,54}}</string>
                <key>sourceSize</key>
                <string>{41,54}</string>
            </dict>
            <key>achievement_Icon_Achievement_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,348},{41,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,52}}</string>
                <key>sourceSize</key>
                <string>{41,52}</string>
            </dict>
            <key>achievement_Icon_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,116},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>achievement_Icon_Task_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,659},{119,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,122}}</string>
                <key>sourceSize</key>
                <string>{119,122}</string>
            </dict>
            <key>achievement_Icon_Task_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,233},{114,112}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{114,112}}</string>
                <key>sourceSize</key>
                <string>{118,112}</string>
            </dict>
            <key>achievement_Info_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,601},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>achievement_Lines.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,348},{309,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,2}}</string>
                <key>sourceSize</key>
                <string>{309,2}</string>
            </dict>
            <key>achievement_Progress_Bar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,868},{1136,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,68}}</string>
                <key>sourceSize</key>
                <string>{1136,68}</string>
            </dict>
            <key>achievement_Progress_Bar_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{463,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,62}}</string>
                <key>sourceSize</key>
                <string>{463,62}</string>
            </dict>
            <key>achievement_Progress_Bar_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{310,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,19}}</string>
                <key>sourceSize</key>
                <string>{310,19}</string>
            </dict>
            <key>achievement_Progress_Bar_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,451},{302,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,13}}</string>
                <key>sourceSize</key>
                <string>{302,13}</string>
            </dict>
            <key>achievement_Reputation.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,644},{270,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,34}}</string>
                <key>sourceSize</key>
                <string>{270,34}</string>
            </dict>
            <key>achievement_Reward_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,391},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>achievement_Reward_Lines.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,347},{228,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,6}}</string>
                <key>sourceSize</key>
                <string>{228,6}</string>
            </dict>
            <key>achievement_Tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{101,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,330}}</string>
                <key>sourceSize</key>
                <string>{101,330}</string>
            </dict>
            <key>achievement_Tab_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,780},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>achievement_Tab_Button_Choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,553},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>achievement_Tab_Choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,450},{101,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,107}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
            <key>achievement_Tab_Choose_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,347},{101,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,107}}</string>
                <key>sourceSize</key>
                <string>{101,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Achievement_new.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8827b3b16c5ec57c766fd87be4c0e53:1/1$</string>
            <key>textureFileName</key>
            <string>Achievement_new.png</string>
        </dict>
    </dict>
</plist>
