<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fake_EVENT_i5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>Fake_Lobby_03_i5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>Fake_Lobby_04_i5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>HOF_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>HOF_ChucMung.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,1942},{298,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,59}}</string>
                <key>sourceSize</key>
                <string>{298,59}</string>
            </dict>
            <key>HOF_ChucMung_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1140},{736,477}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{736,477}}</string>
                <key>sourceSize</key>
                <string>{736,477}</string>
            </dict>
            <key>HOF_Cup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,1878},{139,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,207}}</string>
                <key>sourceSize</key>
                <string>{139,207}</string>
            </dict>
            <key>HOF_Cup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,1350},{115,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,213}}</string>
                <key>sourceSize</key>
                <string>{115,213}</string>
            </dict>
            <key>HOF_Cup3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,1121},{117,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,227}}</string>
                <key>sourceSize</key>
                <string>{117,227}</string>
            </dict>
            <key>HOF_Cup4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,1694},{171,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,268}}</string>
                <key>sourceSize</key>
                <string>{171,268}</string>
            </dict>
            <key>HOF_Cup_Amount.png</key>
            <dict>
                <key>frame</key>
                <string>{{2013,2},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>HOF_Cup_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,476},{72,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,443}}</string>
                <key>sourceSize</key>
                <string>{72,443}</string>
            </dict>
            <key>HOF_Event_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1889,1694},{96,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,88}}</string>
                <key>sourceSize</key>
                <string>{96,88}</string>
            </dict>
            <key>HOF_Incubator_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1811,2},{200,472}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,472}}</string>
                <key>sourceSize</key>
                <string>{200,472}</string>
            </dict>
            <key>HOF_Incubator_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,1140},{303,552}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,552}}</string>
                <key>sourceSize</key>
                <string>{303,552}</string>
            </dict>
            <key>HOF_Incubator_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1709,1867},{151,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,196}}</string>
                <key>sourceSize</key>
                <string>{151,196}</string>
            </dict>
            <key>HOF_Incubator_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,921},{150,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,198}}</string>
                <key>sourceSize</key>
                <string>{150,198}</string>
            </dict>
            <key>HOF_MuagiaiSieuCup_Text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1942},{563,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{563,69}}</string>
                <key>sourceSize</key>
                <string>{563,69}</string>
            </dict>
            <key>HOF_Progress_Bar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1811,998},{52,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,35}}</string>
                <key>sourceSize</key>
                <string>{52,35}</string>
            </dict>
            <key>HOF_Progress_Bar_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,1942},{184,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,20}}</string>
                <key>sourceSize</key>
                <string>{184,20}</string>
            </dict>
            <key>HOF_Progress_Bar_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,2},{1134,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1134,27}}</string>
                <key>sourceSize</key>
                <string>{1134,27}</string>
            </dict>
            <key>HOF_Progress_Bar_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1928},{1134,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1134,12}}</string>
                <key>sourceSize</key>
                <string>{1134,12}</string>
            </dict>
            <key>HOF_Progress_Bar_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2020,1594},{26,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{26,27}}</string>
                <key>sourceSize</key>
                <string>{52,35}</string>
            </dict>
            <key>HOF_Progress_Bar_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2020,1565},{26,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{26,27}}</string>
                <key>sourceSize</key>
                <string>{52,35}</string>
            </dict>
            <key>HOF_SanhDanhVong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1811,476},{520,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,83}}</string>
                <key>sourceSize</key>
                <string>{520,83}</string>
            </dict>
            <key>HOF_Setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,1565},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>HOF_Username.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1878},{358,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,125}}</string>
                <key>sourceSize</key>
                <string>{358,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HallOfFameUI.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f678aacc89101f3af0bafa671b9337f5:1/1$</string>
            <key>textureFileName</key>
            <string>HallOfFameUI.png</string>
        </dict>
    </dict>
</plist>
