<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Blue_Icon_inven_2.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,254},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>Board_inven_2.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{200,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,295}}</string>
                <key>sourceSize</key>
                <string>{200,295}</string>
            </dict>
            <key>Info_Board_inven_2.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{1121,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1121,159}}</string>
                <key>sourceSize</key>
                <string>{1121,159}</string>
            </dict>
            <key>Level_inven_2.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,339},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>Purple_Icon_inven_2.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,218},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>Red_Icon_inven_2.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,38},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>Stat_Base_01_inven_2.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{204,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,18}}</string>
                <key>sourceSize</key>
                <string>{204,18}</string>
            </dict>
            <key>Stat_Base_02_inven_2.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,18}}</string>
                <key>sourceSize</key>
                <string>{204,18}</string>
            </dict>
            <key>Yellow_Icon_inven_2.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>blue_Button_inven_2.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,74},{142,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,50}}</string>
                <key>sourceSize</key>
                <string>{142,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Inventory2.2.png</string>
            <key>size</key>
            <string>{256,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94047082d41477d93512d66f9ae1591f:1/1$</string>
            <key>textureFileName</key>
            <string>Inventory2.2.png</string>
        </dict>
    </dict>
</plist>
