<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EndGame_Avatar_Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,768},{138,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,144}}</string>
                <key>sourceSize</key>
                <string>{138,144}</string>
            </dict>
            <key>EndGame_Avatar_Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1713,796},{139,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,143}}</string>
                <key>sourceSize</key>
                <string>{139,143}</string>
            </dict>
            <key>EndGame_Black_Bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,1},{793,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{793,167}}</string>
                <key>sourceSize</key>
                <string>{793,167}</string>
            </dict>
            <key>EndGame_Choosecard_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1136,412}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,412}}</string>
                <key>sourceSize</key>
                <string>{1136,412}</string>
            </dict>
            <key>EndGame_Crown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,415},{65,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,53}}</string>
                <key>sourceSize</key>
                <string>{65,53}</string>
            </dict>
            <key>EndGame_Green_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,856},{199,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,71}}</string>
                <key>sourceSize</key>
                <string>{199,71}</string>
            </dict>
            <key>EndGame_Item_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,592},{178,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,262}}</string>
                <key>sourceSize</key>
                <string>{178,262}</string>
            </dict>
            <key>EndGame_Light_Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,596},{171,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,170}}</string>
                <key>sourceSize</key>
                <string>{171,170}</string>
            </dict>
            <key>EndGame_Light_Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,596},{171,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,170}}</string>
                <key>sourceSize</key>
                <string>{171,170}</string>
            </dict>
            <key>EndGame_Lines.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,592},{341,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,2}}</string>
                <key>sourceSize</key>
                <string>{341,2}</string>
            </dict>
            <key>EndGame_Play_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,1},{383,593}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,593}}</string>
                <key>sourceSize</key>
                <string>{383,593}</string>
            </dict>
            <key>EndGame_Progressbar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,556},{571,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{571,34}}</string>
                <key>sourceSize</key>
                <string>{571,34}</string>
            </dict>
            <key>EndGame_Progressbar_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,963},{562,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,23}}</string>
                <key>sourceSize</key>
                <string>{562,23}</string>
            </dict>
            <key>EndGame_Raceto2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,556},{192,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,34}}</string>
                <key>sourceSize</key>
                <string>{192,34}</string>
            </dict>
            <key>EndGame_Reward_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,415},{859,571}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{859,571}}</string>
                <key>sourceSize</key>
                <string>{859,571}</string>
            </dict>
            <key>EndGame_YOULOSE.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,386},{587,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{587,168}}</string>
                <key>sourceSize</key>
                <string>{587,168}</string>
            </dict>
            <key>EndGame_YOUWIN.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,415},{546,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,168}}</string>
                <key>sourceSize</key>
                <string>{546,168}</string>
            </dict>
            <key>End_Game_Bleur_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1559,756},{152,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,160}}</string>
                <key>sourceSize</key>
                <string>{152,160}</string>
            </dict>
            <key>End_Game_Gloves_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,592},{136,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,162}}</string>
                <key>sourceSize</key>
                <string>{136,162}</string>
            </dict>
            <key>End_Game_Money_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,842},{148,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,106}}</string>
                <key>sourceSize</key>
                <string>{148,106}</string>
            </dict>
            <key>End_Game_Red_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,768},{199,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,72}}</string>
                <key>sourceSize</key>
                <string>{199,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Endgame.png</string>
            <key>size</key>
            <string>{1902,987}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48bd7357d17c44810f1d23bbd0f992f6:17bebf1cfaf8ceb34bae2091c826f3ed:57effaf4625e9792cfc01350e211bee9$</string>
            <key>textureFileName</key>
            <string>Endgame.png</string>
        </dict>
    </dict>
</plist>
