<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ingame_ex_2D.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,316},{32,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>ingame_ex_3D.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,486},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,23}</string>
            </dict>
            <key>ingame_ex_Arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,491},{17,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,32}}</string>
                <key>sourceSize</key>
                <string>{17,32}</string>
            </dict>
            <key>ingame_ex_Avatar_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,93}}</string>
                <key>sourceSize</key>
                <string>{312,93}</string>
            </dict>
            <key>ingame_ex_Ball_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,291},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>ingame_ex_Change_box_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,454},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>ingame_ex_Change_box_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,447},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>ingame_ex_Change_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,447},{58,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>ingame_ex_Cup_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,254},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>ingame_ex_Cup_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,454},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>ingame_ex_Eyes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{99,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,58}}</string>
                <key>sourceSize</key>
                <string>{99,58}</string>
            </dict>
            <key>ingame_ex_Power_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{34,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,364}}</string>
                <key>sourceSize</key>
                <string>{34,364}</string>
            </dict>
            <key>ingame_ex_Power_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{34,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,364}}</string>
                <key>sourceSize</key>
                <string>{34,364}</string>
            </dict>
            <key>ingame_ex_Ruler_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,88},{82,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,76}}</string>
                <key>sourceSize</key>
                <string>{82,76}</string>
            </dict>
            <key>ingame_ex_Ruler_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,417},{72,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,19}}</string>
                <key>sourceSize</key>
                <string>{72,19}</string>
            </dict>
            <key>ingame_ex_Ruler_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{30,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,83}}</string>
                <key>sourceSize</key>
                <string>{30,83}</string>
            </dict>
            <key>ingame_ex_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,172},{79,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,80}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>ingame_ex_avatar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>ingame_ex_avatar_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,368},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>ingame_ex_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,368},{96,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,77}}</string>
                <key>sourceSize</key>
                <string>{96,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ingame_extra.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16ef60ad21b05e7a901f2b584baeb6e0:1/1$</string>
            <key>textureFileName</key>
            <string>ingame_extra.png</string>
        </dict>
    </dict>
</plist>
