<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ingame_v4_2D.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,485},{32,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>ingame_v4_3D.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,485},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,23}</string>
            </dict>
            <key>ingame_v4_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,343},{17,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,32}}</string>
                <key>sourceSize</key>
                <string>{17,32}</string>
            </dict>
            <key>ingame_v4_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,421},{79,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,80}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>ingame_v4_avatar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,61},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>ingame_v4_avatar_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,367},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>ingame_v4_avatar_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{340,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,102}}</string>
                <key>sourceSize</key>
                <string>{340,102}</string>
            </dict>
            <key>ingame_v4_ball_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,485},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>ingame_v4_change_cue.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,147},{58,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>ingame_v4_eyes.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1},{99,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,58}}</string>
                <key>sourceSize</key>
                <string>{99,58}</string>
            </dict>
            <key>ingame_v4_power_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1},{34,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,364}}</string>
                <key>sourceSize</key>
                <string>{34,364}</string>
            </dict>
            <key>ingame_v4_power_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,147},{34,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,364}}</string>
                <key>sourceSize</key>
                <string>{34,364}</string>
            </dict>
            <key>ingame_v4_ruler_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,343},{82,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,76}}</string>
                <key>sourceSize</key>
                <string>{82,76}</string>
            </dict>
            <key>ingame_v4_ruler_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,453},{30,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,83}}</string>
                <key>sourceSize</key>
                <string>{30,83}</string>
            </dict>
            <key>ingame_v4_uler_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,421},{72,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,19}}</string>
                <key>sourceSize</key>
                <string>{72,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ingame_v4_addition.png</string>
            <key>size</key>
            <string>{241,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c54e67c25385802581c579450b8b860b:0041f8f5c7bccf2de31ed654b73476f7:55944b72eea547ee4f5d4032b9c1ba3a$</string>
            <key>textureFileName</key>
            <string>ingame_v4_addition.png</string>
        </dict>
    </dict>
</plist>
