<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>open_card_Box_Item.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{198,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,247}}</string>
                <key>sourceSize</key>
                <string>{198,247}</string>
            </dict>
            <key>open_card_Box_Item_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,37},{208,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,253}}</string>
                <key>sourceSize</key>
                <string>{208,253}</string>
            </dict>
            <key>open_card_Box_Item_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,104},{198,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,247}}</string>
                <key>sourceSize</key>
                <string>{198,247}</string>
            </dict>
            <key>open_card_Mystery Card.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{352,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,33}}</string>
                <key>sourceSize</key>
                <string>{352,33}</string>
            </dict>
            <key>open_card_Opponent.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,2},{100,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,23}}</string>
                <key>sourceSize</key>
                <string>{100,23}</string>
            </dict>
            <key>open_card_Teammate.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,47},{107,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,19}}</string>
                <key>sourceSize</key>
                <string>{107,19}</string>
            </dict>
            <key>open_card_open_card_Blue_Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{121,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,43}}</string>
                <key>sourceSize</key>
                <string>{121,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>OpenCard.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23168386681b1f90267b10f81b3e4aca:1/1$</string>
            <key>textureFileName</key>
            <string>OpenCard.png</string>
        </dict>
    </dict>
</plist>
