<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GameModeV2.Amateur_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,535},{172,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,33}}</string>
                <key>sourceSize</key>
                <string>{172,33}</string>
            </dict>
            <key>GameModeV2.Amateur_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,535},{172,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,33}}</string>
                <key>sourceSize</key>
                <string>{172,33}</string>
            </dict>
            <key>GameModeV2.Amateur_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,196},{172,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,33}}</string>
                <key>sourceSize</key>
                <string>{172,33}</string>
            </dict>
            <key>GameModeV2.Amateur_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1965,196},{172,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,33}}</string>
                <key>sourceSize</key>
                <string>{172,33}</string>
            </dict>
            <key>GameModeV2.Avartar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,6},{281,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,109}}</string>
                <key>sourceSize</key>
                <string>{281,109}</string>
            </dict>
            <key>GameModeV2.Beginner_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,926},{154,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,33}}</string>
                <key>sourceSize</key>
                <string>{154,33}</string>
            </dict>
            <key>GameModeV2.Beginner_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,770},{154,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,33}}</string>
                <key>sourceSize</key>
                <string>{154,33}</string>
            </dict>
            <key>GameModeV2.Beginner_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,691},{154,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,33}}</string>
                <key>sourceSize</key>
                <string>{154,33}</string>
            </dict>
            <key>GameModeV2.Beginner_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,535},{154,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,33}}</string>
                <key>sourceSize</key>
                <string>{154,33}</string>
            </dict>
            <key>GameModeV2.Board_AMATEUR_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,117},{280,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,430}}</string>
                <key>sourceSize</key>
                <string>{280,430}</string>
            </dict>
            <key>GameModeV2.Board_AMATEUR_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,855},{277,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,430}}</string>
                <key>sourceSize</key>
                <string>{277,430}</string>
            </dict>
            <key>GameModeV2.Board_AMATEUR_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,535},{280,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,429}}</string>
                <key>sourceSize</key>
                <string>{280,429}</string>
            </dict>
            <key>GameModeV2.Board_AMATEUR_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,653},{277,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,429}}</string>
                <key>sourceSize</key>
                <string>{277,429}</string>
            </dict>
            <key>GameModeV2.Board_All.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{833,531}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{833,531}}</string>
                <key>sourceSize</key>
                <string>{833,531}</string>
            </dict>
            <key>GameModeV2.Board_BEGINNER_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,91},{280,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,430}}</string>
                <key>sourceSize</key>
                <string>{280,430}</string>
            </dict>
            <key>GameModeV2.Board_BEGINNER_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,575},{278,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,430}}</string>
                <key>sourceSize</key>
                <string>{278,430}</string>
            </dict>
            <key>GameModeV2.Board_BEGINNER_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,535},{280,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,429}}</string>
                <key>sourceSize</key>
                <string>{280,429}</string>
            </dict>
            <key>GameModeV2.Board_BEGINNER_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,817},{278,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,429}}</string>
                <key>sourceSize</key>
                <string>{278,429}</string>
            </dict>
            <key>GameModeV2.Board_PRO_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,38},{280,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,430}}</string>
                <key>sourceSize</key>
                <string>{280,430}</string>
            </dict>
            <key>GameModeV2.Board_PRO_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,373},{278,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,430}}</string>
                <key>sourceSize</key>
                <string>{278,430}</string>
            </dict>
            <key>GameModeV2.Board_PRO_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,549},{280,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,429}}</string>
                <key>sourceSize</key>
                <string>{280,429}</string>
            </dict>
            <key>GameModeV2.Board_PRO_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,980},{276,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,429}}</string>
                <key>sourceSize</key>
                <string>{276,429}</string>
            </dict>
            <key>GameModeV2.Challenger_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,505},{199,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{199,33}}</string>
                <key>sourceSize</key>
                <string>{211,35}</string>
            </dict>
            <key>GameModeV2.Challenger_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,470},{199,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{199,33}}</string>
                <key>sourceSize</key>
                <string>{211,35}</string>
            </dict>
            <key>GameModeV2.Challenger_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,470},{199,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{199,33}}</string>
                <key>sourceSize</key>
                <string>{211,35}</string>
            </dict>
            <key>GameModeV2.Challenger_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,569},{199,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{199,33}}</string>
                <key>sourceSize</key>
                <string>{211,35}</string>
            </dict>
            <key>GameModeV2.Effect_AMATEUR_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1097},{159,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,162}}</string>
                <key>sourceSize</key>
                <string>{159,162}</string>
            </dict>
            <key>GameModeV2.Effect_AMATEUR_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1076},{159,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,162}}</string>
                <key>sourceSize</key>
                <string>{159,162}</string>
            </dict>
            <key>GameModeV2.Effect_AMATEUR_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,932},{159,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,162}}</string>
                <key>sourceSize</key>
                <string>{159,162}</string>
            </dict>
            <key>GameModeV2.Effect_AMATEUR_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,932},{159,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,162}}</string>
                <key>sourceSize</key>
                <string>{159,162}</string>
            </dict>
            <key>GameModeV2.Effect_PRO_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,1306},{170,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,178}}</string>
                <key>sourceSize</key>
                <string>{170,178}</string>
            </dict>
            <key>GameModeV2.Effect_PRO_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,1306},{170,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,178}}</string>
                <key>sourceSize</key>
                <string>{170,178}</string>
            </dict>
            <key>GameModeV2.Effect_PRO_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,1134},{170,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,178}}</string>
                <key>sourceSize</key>
                <string>{170,178}</string>
            </dict>
            <key>GameModeV2.Effect_PRO_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,1134},{170,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,178}}</string>
                <key>sourceSize</key>
                <string>{170,178}</string>
            </dict>
            <key>GameModeV2.GAME_MODES.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,2},{296,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,34}}</string>
                <key>sourceSize</key>
                <string>{296,34}</string>
            </dict>
            <key>GameModeV2.Icon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,1134},{168,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,122}}</string>
                <key>sourceSize</key>
                <string>{168,122}</string>
            </dict>
            <key>GameModeV2.Icon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,932},{175,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,142}}</string>
                <key>sourceSize</key>
                <string>{175,142}</string>
            </dict>
            <key>GameModeV2.Icon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,966},{153,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,168}}</string>
                <key>sourceSize</key>
                <string>{153,168}</string>
            </dict>
            <key>GameModeV2.Icon_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,2},{192,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,97}}</string>
                <key>sourceSize</key>
                <string>{192,97}</string>
            </dict>
            <key>GameModeV2.Item_Card.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,55},{40,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,45}}</string>
                <key>sourceSize</key>
                <string>{40,45}</string>
            </dict>
            <key>GameModeV2.Legendary_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,196},{189,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{189,33}}</string>
                <key>sourceSize</key>
                <string>{203,35}</string>
            </dict>
            <key>GameModeV2.Legendary_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,505},{189,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{189,33}}</string>
                <key>sourceSize</key>
                <string>{203,35}</string>
            </dict>
            <key>GameModeV2.Legendary_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,540},{189,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{189,33}}</string>
                <key>sourceSize</key>
                <string>{203,35}</string>
            </dict>
            <key>GameModeV2.Legendary_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,540},{189,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{189,33}}</string>
                <key>sourceSize</key>
                <string>{203,35}</string>
            </dict>
            <key>GameModeV2.Light_Under.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,6},{477,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,83}}</string>
                <key>sourceSize</key>
                <string>{477,83}</string>
            </dict>
            <key>GameModeV2.Lines.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,2},{809,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{809,2}}</string>
                <key>sourceSize</key>
                <string>{809,2}</string>
            </dict>
            <key>GameModeV2.Pick_Icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,6},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>GameModeV2.Pro_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,336},{237,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,33}}</string>
                <key>sourceSize</key>
                <string>{237,33}</string>
            </dict>
            <key>GameModeV2.Pro_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,330},{237,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,33}}</string>
                <key>sourceSize</key>
                <string>{237,33}</string>
            </dict>
            <key>GameModeV2.Pro_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,91},{237,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,33}}</string>
                <key>sourceSize</key>
                <string>{237,33}</string>
            </dict>
            <key>GameModeV2.Pro_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,97},{237,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,33}}</string>
                <key>sourceSize</key>
                <string>{237,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameModes.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd7f2af3a813f565034c353be3dc1cfd:1/1$</string>
            <key>textureFileName</key>
            <string>GameModes.png</string>
        </dict>
    </dict>
</plist>
