<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shop.v2_BLACKMARKET.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,737},{340,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,34}}</string>
                <key>sourceSize</key>
                <string>{340,34}</string>
            </dict>
            <key>shop.v2_Blue_Icon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,343},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>shop.v2_Blue_Icon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,332},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>shop.v2_Board_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{896,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{896,163}}</string>
                <key>sourceSize</key>
                <string>{896,163}</string>
            </dict>
            <key>shop.v2_Board_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{896,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{896,163}}</string>
                <key>sourceSize</key>
                <string>{896,163}</string>
            </dict>
            <key>shop.v2_Dock_Back.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,96},{75,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,38}}</string>
                <key>sourceSize</key>
                <string>{75,38}</string>
            </dict>
            <key>shop.v2_Dock_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,96},{194,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,44}}</string>
                <key>sourceSize</key>
                <string>{194,44}</string>
            </dict>
            <key>shop.v2_Dock_Title_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,60},{96,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,34}}</string>
                <key>sourceSize</key>
                <string>{96,34}</string>
            </dict>
            <key>shop.v2_Glass_Back.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{101,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,56}}</string>
                <key>sourceSize</key>
                <string>{101,56}</string>
            </dict>
            <key>shop.v2_Glass_Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,737},{201,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,63}}</string>
                <key>sourceSize</key>
                <string>{201,63}</string>
            </dict>
            <key>shop.v2_HotDeal_Icon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,343},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>shop.v2_HotDeal_Icon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,332},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>shop.v2_Noti_Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{359,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,310}}</string>
                <key>sourceSize</key>
                <string>{359,310}</string>
            </dict>
            <key>shop.v2_Other_Icon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,343},{31,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,33}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>shop.v2_Other_Icon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,331},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>shop.v2_Purple_Icon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,773},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>shop.v2_Purple_Icon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,332},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>shop.v2_Red_Icon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,343},{35,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,28}}</string>
                <key>sourceSize</key>
                <string>{35,28}</string>
            </dict>
            <key>shop.v2_Red_Icon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,292},{46,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,37}}</string>
                <key>sourceSize</key>
                <string>{46,37}</string>
            </dict>
            <key>shop.v2_Tab_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,136},{205,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,73}}</string>
                <key>sourceSize</key>
                <string>{205,73}</string>
            </dict>
            <key>shop.v2_Tab_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{199,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,73}}</string>
                <key>sourceSize</key>
                <string>{199,73}</string>
            </dict>
            <key>shop.v2_Yellow_Icon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,343},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>shop.v2_Yellow_Icon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{42,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Shop_UI_v2.1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e987a5de21b85e78da30200656e53974:1/1$</string>
            <key>textureFileName</key>
            <string>Shop_UI_v2.1.png</string>
        </dict>
    </dict>
</plist>
